<div class="jumbotron">
    <form method="get">
        <div>
            <label>Valor 1</label>
            <input type="text" id="v1" value="" />
        </div>
        <div>
            <label>Valor 2</label>
            <input type="text" id="v2" value="" />
        </div>
        <div>
            <label>Operador</label>
            <select id="op">
                <option value="p">+</option>
                <option value="m">-</option>
                <option value="t">*</option>
                <option value="d">/</option>
            </select>
        </div>
        <input type="button" id="btnMath" value="MATH!" />
    </form>
</div>
